.soc-icons {
  background: url('../images/icons.png') no-repeat;

  display: block;
  height: 22px;
  width: 25px;
}

.ruble-icon {
  background: url("../images/ruble.png") no-repeat;
  width: 13px;
  height: 18px;
  display: inline-block;
}

.tw-icon {
  background-position: center 0;
}

.yt-icon {
  background-position: center -22px;
}

.fb-icon {
  background-position: center -22px*2;
}

.wifi-icon {
  background-position: center -22px*3;
}

.vk-icon {
  background-position: center -22px*4;
}

.mail-icon {
  background-position: center -22px*5;
}

.lj-icon {
  background-position: center -22px*6;
}