.soc-icons {
  background: url('../images/icons.png') no-repeat;

  display: block;
  height: 22px;
  width: 25px;
}

.ruble-icon {
  background: url("../images/ruble.png") no-repeat;

  display: inline-block;
  height: 18px;
  width: 13px;
}

.tab-icon {
  background: url('../images/tab-icons.png') no-repeat;

  display: inline-block;
  height: 24px;
  width: 26px;
}

.tab-1-icon {
  @extend .tab-icon;

  background-position: 0 -24px;
}

.tab-2-icon {
  @extend .tab-icon;

  background-position: -26px -24px;
}

.tab-3-icon {
  @extend .tab-icon;

  background-position: -26px*2 -24px;
}

.tab-4-icon {
  @extend .tab-icon;

  background-position: -26px*3 -24px;
}

.tab-5-icon {
  @extend .tab-icon;

  background-position: -26px*4 -24px;
}

.current {
  .tab-1-icon {
    background-position: 0 0;
  }

  .tab-2-icon {
    @extend .tab-icon;

    background-position: -26px 0;
  }

  .tab-3-icon {
    @extend .tab-icon;

    background-position: -26px*2 0;
  }

  .tab-4-icon {
    @extend .tab-icon;

    background-position: -26px*3 0;
  }

  .tab-5-icon {
    @extend .tab-icon;

    background-position: -26px*4  0;
  }
}


.tw-icon {
  background-position: center 0;
}

.yt-icon {
  background-position: center -22px;
}

.fb-icon {
  background-position: center -22px*2;
}

.wifi-icon {
  background-position: center -22px*3;
}

.vk-icon {
  background-position: center -22px*4;
}

.mail-icon {
  background-position: center -22px*5;
}

.lj-icon {
  background-position: center -22px*6;
}

//Scroll icons

.scroll-arrow-icon {
  @extend .scroll-arrow-icon-down;
  transform: rotate(180deg);
  top: 20px;
  right: 20px;
}

.scroll-arrow-icon-down {
  background: url("../images/scroll_arrow.png") no-repeat;
  width: 7px;
  height: 4px;
  display: block;
  position: absolute;
  bottom: -12px;
  right: -6px;
}