//HEADER TOP MENU
.main-menu {
  float: left;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 57px - 12;
  margin-top: 45px;
  a {
    color: #fff;
    font-size: 29.17px;
    margin-right: 131px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:last-child {
    margin-left: -27px;
    margin-right: 0;
  }

  .active {
    text-decoration: underline;
  }
}