.mid {
  font-family: 'Arial';
  > header {
    margin-top: 20px;
    span {
      color: #11568d;
      font-size: 20.83px;
    }

    p {
      color: #000;
      font-size: 14.88px;
    }
  }

  p {
    font-size: 14.75px;
  }
  
  .page-name {
    width: 95.4%;
    clear: both;
    display: inline-block;
    background: #184A80;
    color: #fff;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 17px;
    padding: 3px 22px;
    margin-top: 34px;

  }
}