.rapid-transition {
  float: right;
  select {
    padding: 2px 5px;

    border: 0 none;
    background: #184a80;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0;
    color: #fff;
    display: block;
    height: 25px;
    outline: none;
    padding-left: 25px;
    width: 325px;
  }
}


.rapid-transition:after {
  top: -15px;
  right: 10px;

  background: url("../images/rapid_transition_arrow.png") no-repeat;

  content: '';
  display: block;
  float: right;
  height: 6px;
  position: relative;
  width: 15px;
}