.main-open-button {
  background-color: #e5e5e5;
  color: #141414 !important;
  display: inline-block;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 700;
  height: 36px - 10;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  width: 116px;
}

.main-open-button:after {
  @extend .main-open-button-arrow;

  top: 2px;
  left: 10px;

  content: '';
  display: inline-block;
  position: relative;
}