// sass --watch web/styles/main.scss:web/styles/main.css --style compressed

//HELPERS
@import "helpers/_functions";
@import "helpers/_normalize";
@import "helpers/_h5bp";
// @import "helpers/_pesticide";

//COMPONENTS
@import "components/images";
@import "components/ui";

//MODULES
@import "moduls/happy_new_year";
@import "moduls/header";
@import "moduls/main_cover";
@import "moduls/_main_small_navigation.scss";

.mid {
  margin: 0 auto;

  position: relative;
  width: $page-width;
}

input[type=text] {
  padding: 8px;

  border: 0;
  background: #fff;

  border-radius: 6px;
}