// sass --watch web/styles/main.scss:web/styles/main.css --style compressed

//HELPERS
@import "helpers/_functions";
@import "helpers/_normalize";
@import "helpers/_h5bp";
//DEBUD
//@import "helpers/_pesticide";

//COMPONENTS
@import "components/images";
@import "components/ui";
@import "components/icons";
@import "components/tile_news";
@import "components/pages_styles_format";
@import "components/breadcrumbs";
@import "components/rapid_transition";

//MODULES
@import "moduls/happy_new_year";
@import "moduls/page_header";
@import "moduls/page_footer";
@import "moduls/main_cover";
@import "moduls/main_small_navigation.scss";
@import "moduls/main_news.scss";
@import "moduls/section_menu.scss";
@import "moduls/main_contnets";
@import "moduls/serial_item.scss";
@import "moduls/catalog_items.scss";
@import "moduls/item_info";

body {
  // FOR FOOTER FIX
  padding-bottom: 60px;
}

.mid {
  margin: 0 auto;

  position: relative;
  width: $page-width;
}

input[type=text] {
  padding: 8px;

  border: 0;
  background: #fff;

  border-radius: 6px;
}