.catalog-items {
  clear: both;
  margin-top: 40px;
  padding-left: 35px;
  .item {
    margin: 5px;

    float: left;
    margin-bottom: 26px;
    width: 386px;
    .item-preview {
      display: block;
      float: left;
      width: 100px;
      img {
        margin: 0 auto;

        height: auto;
        max-height: 188px;
        width: auto;
      }
    }
    .description {
      float: right;
      padding-left: 6px;
      padding-right: 15px;
      width: 280-15px;

      header {
        color: #0c4b87;
        font-family: Arial, sans-serif;
        font-size: 17px;
        font-weight: bold;
      }

      nav {
        padding-top: 5px;
      }

      a {
        clear: both;
        color: #646464;
        float: left;
        text-decoration: none;
      }
      a:hover {
        color: #0c4b87;
      }
    }
  }

  .item:nth-child(3n):after {
    clear: both;
    content: '';
  }
  .item:nth-child(7) {
    clear: both;
  }
}