.happy_new_year {
  background: url('../images/happy_new_year/bg.png') repeat-x;

  display: block;
  height: 83px;
  min-width: 1240px;
  position: absolute;
  width: 100%;
}

.happy_hat {
  top: 10px;
  left: 183px;

  position: absolute;
}