.happy_new_year {
  background: url('../images/happy_new_year/bg.png') repeat-x;
  display: block;
  height: 83px;
  width: 100%;
  position: absolute;
}

.happy_hat {
  position: absolute;
  left: 184px;
  top: 8px;
}