@import "../components/fancybox";
@import "../components/tabs";

.item-info {
  padding-top: 40px;
}

.item-description {
  color: #515151;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
}

.items-preview-images {
  display: block;
  float: left;
  width: 440px;

  a {
    margin: 10px 5px;

    display: block;
    float: left;
    height: 90px;
    width: 90px;

    img {
      width: 100%;
    }
  }

  a:first-child {
    margin: 0 auto;

    height: auto;
    width: 80%;
    img {
      margin: 0 auto;

      width: 100%;
    }
  }
}

.cost {
  font-family: 'Arial';
  font-size: 17px;
  width: 450px;


  span {
    color: #184a80;
  }

  .where-buy {
    float: right;
    font-size: 18px;
    padding-right: 40px;
    text-decoration: underline;
    a {
      color: #184a80;
    }
  }

  .ruble-icon {
    top: 4px;

    position: relative;
  }
}