.page-footer {
  // margin-top: 20px;
  // 
  // FIX
  bottom: 0;

  background: #e6e6e6;

  clear: both;
  height: 40px;
  position: fixed;
  width: 100%;

  nav {
    float: right;
    margin-right: 15px;
    margin-top: 8px;
    a {
      float: left;
      margin-left: 15px;
    }
  }
}