.sections-menu {
  display: block;
  float: left;
  width: 275px;

  li, a {
    clear: both;
    color: #11568d;
    display: block;
    text-decoration: none;
  }

  .section {
    clear: both;
  }

  .section > li {
    // margin-top: 14px;
  }

  .section > li > a {
    padding: 7px 24px;

    color: #969696;
    font-family: "Arial";
    font-size: 14px;
    margin-left: -38px;
  }

  .section > li > a:hover {
    background: #f3f3f3;
  }

  .section ul a {
    color: #11568d;
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    max-width: 275px;
  }

  .section ul a:hover {
    color: #969696;
  }

  .section ul a:before {
    top: -5px;

    content: '.';
    margin-right: 10px;
    position: relative;
  }

  .sub-section ul {
    margin-left: -70px;
    paddgin-left: 25px;
  }
}