.sections-menu {
	width: 275px;
	float: left;
	display: block;

	li, a {
		display: block;
		clear: both;
		text-decoration: none;
		color: #11568d;
	}

	.section {
		clear: both;
	}

	.section > li {
		// margin-top: 14px;
	}

	.section > li > a {
		color: #969696;
		font-family: "Arial";
		font-size: 14px;
		margin-left: -38px;
		padding: 7px 24px;
	}

.section > li > a:hover {
	background: #f3f3f3;
}

.section ul a {
	color: #11568D;
	font-family: "Arial";
	font-size: 15px;
	font-weight: 400;
	max-width: 275px;
}

	.section ul a:hover {
		color: #969696;
	}

.section ul a:before {
	content: '.';
	margin-right: 10px;
	position: relative;
	top: -5px;
}
	
	.sub-section ul {
		margin-left: -70px;
		paddgin-left: 25px;
	}
}