.serial-items {
  width: 100%;
  clear: both;
  display: block;
  padding-top: 20px;

  .item {
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 290px;
    height: 325px;
    display: inline-block;
    overflow: hidden;
    float: left;
    position: relative;
    margin: 0 26px 26px 0;

    .description {
      @extend .news-content;
      margin-top: 220px;
      padding: 25px 15px;

      header {
        padding: 25px 0;
        position: relative;
        top: -10px;
        width: 80%;
        margin: 0 auto;
      }

      header:after {
        margin-right: 0;
        margin-top: 8px;
      }

      p {
        font-size: 15px;
      }
    }

    .description:hover {
      margin-top: -100px;
    }

    .main-open-button {
      margin: 0 70px
    }
  }

  .item:nth-child(3n){
    margin-right: 0;
  }

}